{% extends "base.html" %}

{% block body %}
{% include 'partials/subnav.html' with title=title type="form" type_name="departments" %}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-12 mb-3">
            <form method="post" action=""> {% csrf_token %}
                <div class="card activity-form">
                    {% include 'partials/form_snippet.html' %}
                </div>
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i>
                        <span>Spremi</span>
                    </button>
                    <a href="{% url 'departments:list' %}" class="btn btn-danger">
                        Odustani
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% load static %}

<script type="module">
import { makeActive } from '{% static 'js/sidenavItemActive.js' %}';

window.onload = makeActive('departmentsSidenav', false, false);
</script>


{% endblock body %}