{% extends 'base.html' %}


{% block body %}

{% include 'messages.html' %}

<div class="container-fluid">
    <div class="row mt-3 mb-3">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 mb-2">
                {% include 'partials/dashboard/number_card.html' with variable=student.gpa|floatformat title="Trenutni prosjek ocjena" color="info" %}
                </div>
                <div class="col-md-6 mb-2">
                {% include 'partials/dashboard/number_card.html' with variable=upcoming_score_activities title="Preostalo ispitnih aktivnosti" color="warning" %}
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
        {% include 'partials/dashboard/critical_card.html' with title="Kritični kolegiji" critical_subjects=critical_subjects %}
        </div>
    </div>

    <div class="rrow">
        <div class="card">
            <div class="card-header">
                <h5 class="h5 mb-0">Nadolazeći tjedan</h5>
            </div>
            <table class="table mb-0 table-bordered" style="table-layout:fixed">
                <thead>
                    <tr class="bg-light">
                    {% for th in header %}
                        <th style="width: 60px">{{ th }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for week in full_table %}
                    <tr>
                    {% for day in week %}
                        {% with day|first as date_ %}
                            <td class="p-0">{{ date_|date:"d.m." }}</td>
                        {% endwith %}
                    {% endfor %}
                    </tr>
                    <tr class="bg-light" style="height:60px; min-height:60px;">
                    {% for day in week %}
                        {% with day|first as date_ %}
                        
                        {% if date_|date:"d.m.Y" == today|date:"d.m.Y" %}
                        <td class="p-0 bg-info text-light">
                        {% else %}
                        <td class="p-0">
                        {% endif %}
                        
                        {% for activity in day %}
                            {% if not activity == date_ %}
                            
                            <div title="Broj bodova: {{ activity.points_total }}" onclick="location.href='{{ activity.get_absolute_url }}'" class="d-flex clickable-row">
                                <div class="fas-icon subnav">
                                    {% if activity.completed or activity.attended %}
                                    <i class="fas fa-check-circle text-success" aria-hidden="true"></i>
                                    {% else %}
                                    {% if activity.points_total %}
                                    <i class="fas fa-exclamation-circle text-danger" aria-hidden="true"></i>
                                    {% else %}
                                    <i class="fas fa-exclamation-circle text-warning" aria-hidden="true"></i>
                                    {% endif %}
                                    {% endif %}
                                </div>
                                <span class="font-weight-bold">{{ activity }}</span>
                            </div>
                            {% endif %}
                        {% endfor %}
                        </td>            
                        {% endwith %}
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        {% if user.student.upcoming_score_activities %}
        <div class="col-lg-8 mb-3">
            {% include 'partials/dashboard/plot_card.html' with title="Prosjek po kolegiju" src=subjects_gpa_bar color="info" %}
        </div>
        <div class="col-lg-4 mb-3">
            <div class="card h-100">
                <div class="card-header bg-primary text-light">
                    <h5 class="h5 mb-0">Nadolazeće ispitne aktivnosti</h5>
                </div>
                <div class="card-body">
                    {% include 'partials/activities/score_list_snippet.html' with activities=user.student.upcoming_score_activities %}
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a href="{% url 'activities_calendar:score-monthly' %}" class="btn btn-sm btn-primary w-100">
                            <i class="fas fa-calendar-alt text-light" aria-hidden="true"></i>
                            <span class="text-light">Prikaži kalendar</span>
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
        <div class="col-lg-7 mb-3">
            {% include 'partials/dashboard/plot_card.html' with title="Prosjek po kolegiju" src=subjects_gpa_bar color="info" %}
        </div>
        <div class="col-lg-5 mb-3">
        {% include 'partials/dashboard/plot_card.html' with title="Broj aktivnosti po kolegiju" src=subjects_activities_pie color="success" %}
        </div>
        {% endif %}
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-lg-6 mb-3">
        {% include 'partials/dashboard/plot_card.html' with title="Predane ispitne aktivnosti" src=score_activity_pie color="danger" %}         
        </div>
        <div class="col-lg-6 mb-3">
        {% include 'partials/dashboard/plot_card.html' with title="Prisustvo na nastavnim aktivnostima" src=class_activity_pie color="warning" %}    
        </div>
    </div>
</div>


{% load static %}
<script type="module" src="{% static 'js/sidenavItemActive.js' %}" />

<script>
window.onload = makeActive('homeSidenav');
</script>

{% endblock body %}