{% extends 'base.html' %}


{% block body %}

<div class="container-fluid">
    <div class="row mt-3 mb-3">
        <div class="col-lg-3 mb-2">
        {% include 'partials/dashboard/number_card.html' with variable=subjects.count title="Broj upisanih kolegija" color="success" %}
        </div>
        <div class="col-lg-3 mb-2">
        {% include 'partials/dashboard/number_card.html' with variable=student.gpa|floatformat title="Trenutni prosjek ocjena" color="info" %}
        </div>
        <div class="col-lg-3 mb-2">
        {% include 'partials/dashboard/number_card.html' with variable=upcoming_score_activities title="Preostalo ispitnih aktivnosti" color="danger" %}
        </div>
        <div class="col-lg-3 mb-2">
        {% include 'partials/dashboard/number_card.html' with variable=upcoming_class_activities title="Preostalo nastavnih aktivnosti" color="warning" %}
        </div>
    </div>

    <div class="row mt-3 mb-3">
        {% if user.student.upcoming_score_activities %}
        <div class="col-lg-8 mb-3">
            {% include 'partials/dashboard/plot_card.html' with title="Prosjek po kolegiju" src=subjects_gpa_bar color="info" %}
        </div>
        <div class="col-lg-4 mb-3">
            <div class="card h-100">
                <div class="card-header bg-primary text-light">
                    <h5 class="h5">Nadolazeće ispitne aktivnosti</h5>
                </div>
                <div class="card-body">
                    {% include 'partials/activities/score_list_snippet.html' with activities=user.student.upcoming_score_activities %}
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a href="{% url 'activities_calendar:score-monthly' %}" class="btn btn-sm btn-primary w-100">
                            <i class="fas fa-calendar-alt text-light" aria-hidden="true"></i>
                            <span class="text-light">Prikaži kalendar</span>
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
        <div class="col-lg-7 mb-3">
            {% include 'partials/dashboard/plot_card.html' with title="Prosjek po kolegiju" src=subjects_gpa_bar color="info" %}
        </div>
        <div class="col-lg-5 mb-3">
        {% include 'partials/dashboard/plot_card.html' with title="Broj aktivnosti po kolegiju" src=subjects_activities_pie color="success" %}
        </div>
        {% endif %}
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-lg-6 mb-3">
        {% include 'partials/dashboard/plot_card.html' with title="Predane ispitne aktivnosti" src=score_activity_pie color="danger" %}         
        </div>
        <div class="col-lg-6 mb-3">
        {% include 'partials/dashboard/plot_card.html' with title="Prisustvo na nastavnim aktivnostima" src=class_activity_pie color="warning" %}    
        </div>
    </div>
</div>

{% include 'messages.html' %}

{% load static %}
<script type="module" src="{% static 'js/sidenavItemActive.js' %}" />

<script>
window.onload = makeActive('homeSidenav');
</script>

{% endblock body %}