 
<!DOCTYPE html> 
<html lang="en" style="height:100%;">
    <head> 
        {% load static %}
        <meta charset="utf-8"> 
        <title>Timetabled</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="keywords" content="django, bootstrap, university, timetable"/>
        <meta name="description" content="Timetabled"/>
        <link rel="icon" href="{% static 'images/timetabled_icon.png' %}">
        <!-- Core CSS -->         
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">
    </head>     
    <body data-spy="scroll" data-target="nav">
        <div class="container-fluid" style="background-color: rgba(52, 152, 219, 0.8);">
            <div class="row text-center pt-5 pb-5">
                <div class="col-lg-12">
                    <h2 class="text-light" style="font-size: 20px;">ORGANIZIRAJ SVOJE VRIJEME</h2>
                    <div class="image-responsive m-auto">
                        <img src="{% static 'images/timetabled_char_xl.png' %}" alt="timetabled_char_xl.png" class="responsive mt-3 mb-5" style="height: 60px; width: auto; position:relative; margin:0">
                    </div>
                </div>
                <div class="col-md-12">
                    <a href="{% url 'accounts:register' %}" class="btn btn-outline-light btn-outline-lg mb-2" style="width: 200px; border:2px solid #fff; font-size: 13pt;">
                        <span class="font-weight-bold">REGISTRIRAJ SE</span>
                    </a>
                    <a href="{% url 'accounts:login' %}" class="btn btn-outline-light btn-outline-lg mb-2" style="width: 200px; border:2px solid #fff; font-size: 13pt;">
                        <span class="font-weight-bold">PRIJAVI SE</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 text-center" style="background: linear-gradient(to right, rgb(26, 41, 128) 0%, rgb(38, 208, 206) 100%); background-repeat: repeat;">
                    <img src="{% static 'images/logo_timetabled_white.png' %}" class="responsive" height="300"/>
                </div>
                <div class="col-lg-6 p-5" style="background-color: #e6e6e6; color: #193441" style="font-family: 'Lato', Helvetica, Arial, sans-serif">
                    <h3>O aplikaciji Timetabled</h3>
                    <span>Aplikacija je stvorena u svrhu polaganja kolegija na diplomskom studiju &quot;Poslovna informatika&quot; Odjela za
                        informatiku, Sveučilišta u Rijeci.</span>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="background-color: #193441">
            <div class="row">
                <div class="col-lg-12 pt-5 text-center">
                    <p class="lead text-light" style="font-size: 24pt">
                        Primite obavijest kada krenemo s&nbsp;<strong class="font-weight-bold">radom</strong>
                    </p>
                </div>
            </div>
            <div class="row">
                <form method="post" action="#" class="d-flex w-100">
                    <div class="col-md-12 pb-5 text-center">
                        <input type="email" name="email" class="form-control-lg text-light bg-dark mb-3" required>
                        <button type="submit" class="btn btn-outline-light btn-lg">
                            Pošalji svoj e-mail
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-fluid bg-warning">
            <div class="row">
                <div class="col-lg-12 p-4 text-center">
                    <small class="text-light font-weight-bold mb-0" style="font-size: 13pt">&copy; COPYRIGHT 2020 - TIMETABLED - ALL RIGHTS RESERVED.</small>
                </div>
            </div>
        </div>
    </body>     
</html>
