<div class="form-snippet pb-2">
{% if form.non_field_errors %}
    <ul class="list-unstyled">
    {% for error in form.non_field_errors %}
        <li class="text-danger"><strong>Greška:</strong> {{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% for field in form.visible_fields %}
    <div class="form-group">
        {% if field.errors %}
        <ul class="ml-0">
        {% for error in field.errors %}
            <li class="text-danger">{{ error }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
{% for field in form.hidden_fields %}
    <div style="display:none">{{ field }}</div>
{% endfor %}
</div>