<nav class="navbar navbar-expand-lg navbar-light bg-light pl-0">
    <div class="container-fluid main-navbar pl-0">
        <button type="button" id="sidebarCollapse" class="btn btn-default ml-3 mr-3">
            <span class="navbar-toggler-icon text-dark"></span>
        </button>
        <div class="navbar-nav w-100">
            <form class="form-inline" style="flex-flow: row; width: 95%">
                <input class="form-control form-control-sm" type="text" placeholder="Pretraži" aria-label="Search" style="width: 85%">
                <button type="submit" class="btn btn-default"><i class="fas fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">
                {% if request.session.deadline_tasks > 0 %}
                    <div style="position: relative" onclick="location.href='{% url 'tasks:notifications' %}'">
                        <i class="fas fa-bell fa-lg" aria-hidden="true"></i>
                        <span class="dot bg-danger"></span>
                    </div>
                {% else %}
                    <div onclick="location.href='#'">
                        <i class="fas fa-bell fa-lg" aria-hidden="true"></i>
                    </div>
                {% endif %}
                </a>
            </li>          
            {% endif %}
        </ul>
    </div>
</nav>