<nav class="navbar navbar-expand-lg navbar-light bg-light pl-0">
    <div class="container-fluid main-navbar pl-0">
        <button type="button" id="sidebarCollapse" class="btn btn-default ml-3 mr-3">
            <span class="navbar-toggler-icon text-dark"></span>
        </button>
        <div class="navbar-nav w-100">
            <form class="form-inline" style="flex-flow: row; width: 95%">
                <input class="form-control form-control-sm" type="text" placeholder="Pretraži" aria-label="Search" style="width: 85%">
                <button type="submit" class="btn btn-default"><i class="fas fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                {% if user.student.upcoming_score_activities  %}
                    <li class="nav-item dropleft show">
                        <a style="position:relative" class="nav-link dropdown-toggle notification-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
                            <i class="fas fa-bell fa-lg" aria-hidden="true"></i>
                            <span class="dot bg-danger"></span>
                        </a>
                        <ul class="dropdown-menu p-2" class="list-group" style="width: 350px; min-width: 200px;">
                        {% for activity in user.student.upcoming_score_activities  %}
                            <li class="dropdown-item clickable-row hover-light list-group-item d-flex justify-content-between align-items-center" onclick="location.href='{{ activity.get_absolute_url }}'">
                                {% if activity.points_total >= 10  %}
                                    <span class="badge badge-danger badge-pill">{{ activity.points_total|floatformat }}</span>
                                {% elif activity.points_total < 10 and activity.points_total >= 5 %}
                                    <span class="badge badge-warning badge-pill">{{ activity.points_total|floatformat }}</span>
                                {% elif activity.points_total < 5 %}
                                    <span class="badge badge-primary badge-pill">{{ activity.points_total|floatformat }}</span>
                                {% endif %}
                                <div class="list-item-description mr-auto ml-3">
                                    <div class="card-title mb-0">{{ activity }}</div>
                                    <small class="card-subtitle text-muted">{{ activity.due_date }}</small>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <div style="position: relative">
                        <i class="fas fa-bell fa-lg" aria-hidden="true"></i>
                    </div>
                    
                {% endif %}
            </li>          
            {% endif %}
        </ul>
    </div>
</nav>