{% load static %}

<!-- Side navigation -->
<nav id="sidebar">
    <div class="upper">
        <div class="sidebar-header text-center" onclick="location.href='{% url 'index' %}'">
            <img src="{% static 'images/logo_timetabled_clean.png' %}" alt="logo_timetabled_clean.png" height="110">
            <img src="{% static 'images/timetabled_char_xl.png' %}" alt="timetabled_char_xl.png" height="25">
        </div>
        <br>
        <ul class="list-unstyled components">
            <li id="homeSidenav" class="nav-item active">
                <a class="nav-link d-flex" href="{% url 'index' %}">
                    <div class="fas-icon">
                        <i class="fas fa-chart-line pr-1" aria-hidden="true"></i>
                    </div>
                    <span class="pl-2">Početna</span>
                </a>
            </li>
            <li id="subjectsSidenav" class="nav-item d-flex clickable-row" href="#subjectsSidenavDropdown" data-toggle="collapse" aria-expanded="false">
                <div class="link" style="width: 85%">
                    <a class="nav-link d-flex">
                        <div class="fas-icon">
                            <i class="fas fa-graduation-cap pr-1" aria-hidden="true"></i>
                        </div>
                        <span class="pl-2">Moji kolegiji</span>
                    </a>
                </div>
                <div class="caret m-auto text-center" style="width: 15%">
                    <div class="fas-icon">
                        <i class="fas fa-angle-down text-light w-100 h-100"></i>
                    </div>
                </div>
            </li>
            <li id="subjectsSidenavDropdown" class="collapse">
                <ul class="list-unstyled" style="overflow: auto; white-space: nowrap;">
                    <li id="subjectsListSidenav">
                        <a class="nav-link d-flex dropdown-item" href="{% url 'subjects:list' %}">
                            <small class="pl-3">Svi kolegiji</small>
                        </a>
                    </li>
                    {% for subject in user.student.subjects.all %}
                        <li id="subject-{{ subject.id }}" code="{{ subject.code }}">
                            <a class="nav-link d-flex dropdown-item" href="{{ subject.get_absolute_url }}">
                                <small class="pl-3">{{ subject }}</small>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li id="activitiesSidenav" class="nav-item d-flex clickable-row" href="#activitiesSidenavDropdown" data-toggle="collapse" aria-expanded="false">
                <div class="link" style="width: 85%">
                    <a class="nav-link d-flex">
                        <div class="fas-icon">
                            <i class="fas fa-calendar-alt pr-1" aria-hidden="true"></i>
                        </div>
                        <span class="pl-2">Kalendari</span>
                    </a>
                </div>
                <div class="caret m-auto text-center" style="width: 15%">
                    <div class="fas-icon">
                        <i class="fas fa-angle-down text-light w-100 h-100"></i>
                    </div>
                </div>
            </li>
            <li id="activitiesSidenavDropdown" class="collapse">
                <ul class="list-unstyled components">
                    <li id="activitiesSidenavIspitne">
                        <a class="nav-link d-flex dropdown-item" href="{% url 'activities_calendar:score-monthly' %}">
                            <div class="text-center" style="width: 25px">
                                <div class="fas-icon">
                                    <i class="fas fa-clipboard-list fa-sm pr-1" aria-hidden="true"></i>
                                </div>
                            </div>
                            <span class="text-m mt-1 pl-1">Ispitne aktivnosti</span>
                        </a>
                    </li>
                    <li id="activitiesSidenavNastavne">
                        <a class="nav-link d-flex dropdown-item" href="{% url 'activities_calendar:class-weekly' %}">
                            <div class="text-center" style="width: 25px">
                                <div class="fas-icon">
                                    <i class="fas fa-list-ul fa-sm pr-1" aria-hidden="true"></i>
                                </div>
                            </div>
                            <span class="text-m mt-1 pl-1">Nastavne aktivnosti</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% if user.is_authenticated and user.is_staff or user.is_superuser %}
            <li id="departmentsSidenav" class="nav-item">
                <a class="nav-link d-flex" href="{% url 'departments:list' %}">
                    <div class="fas-icon">
                        <i class="fas fa-building pr-1" aria-hidden="true"></i>
                    </div>
                    <span class="pl-2">Odjeli</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="lower">
        <ul class="list-unstyled components" ><!--style="position:absolute; bottom:0; width:100%" -->
            <li id="acccountsSidenavDropdown" class="collapse">
                <ul class="list-unstyled">
                    <li>
                        <a class="nav-link d-flex dropdown-item" href="{% url 'accounts:detail' user.id %}">
                            <div class="fas-icon">
                                <i class="fas fa-info pr-1" aria-hidden="true"></i>
                            </div>
                            <span>Moj račun</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link d-flex dropdown-item" href="{% url 'departments:problem-report' %}">
                            <div class="fas-icon">
                                <i class="fas fa-exclamation pr-1" aria-hidden="true"></i>
                            </div>
                            <span>Prijavi problem</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link d-flex dropdown-item" href="{% url 'accounts:logout' %}">
                            <div class="fas-icon">
                                <i class="fas fa-sign-out-alt pr-1" aria-hidden="true"></i>
                            </div>
                            <span>Odjava</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li id="accountsSidenav" class="nav-item d-flex clickable-row" href="#acccountsSidenavDropdown" data-toggle="collapse" aria-expanded="false">
                <div class="link" style="width: 85%">
                    <a class="nav-link d-flex">
                        <div class="fas-icon pr-2">
                            <i class="fas fa-user-circle fa-lg" aria-hidden="true"></i>
                        </div>
                        <span class="pl-2">{{ user.get_full_name.title }}</span>
                    </a>
                </div>
                <div class="caret m-auto text-center" style="width: 15%">
                    <div class="fas-icon">
                        <i class="fas fa-angle-up text-light w-100 h-100"></i>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>