<nav class="navbar navbar-expand-lg navbar-dark bg-dark" height="20px" style="">
    <!-- Naslov -->
    <h3 class="navbar-brand h3 font-weight-bold mb-0 p-2" href="#">{{ title }}</h3>
    <!-- End of Naslov -->

    {% if not type == "form" %}
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-angle-down text-light"></i>
    </button>
    <!-- End of Collapse button -->
    {% endif %}

    <!-- Collapse content -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav subnav ml-auto">
        {% if type == "list" and type_name == "subjects" %}
            <li class="nav-item">
                <a class="nav-link d-flex" href="{% url 'subjects:enroll' %}">
                    <div class="fas-icon subnav">
                        <i class="fas fa-plus-circle text-light" aria-hidden="true"></i>
                    </div>
                    <span>Upiši izborni kolegij</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex" href="#">
                    <div class="fas-icon subnav">
                        <i class="fas fa-book text-light" aria-hidden="true"></i>
                    </div>
                    <span>Materijali</span>
                </a>
            </li>
        {% elif type == "detail" and type_name == "subjects" %}
            <li class="nav-item">
                <a class="nav-link d-flex" href="#{% comment %}{% url 'subjects:update' %}{% endcomment %}">
                    <div class="fas-icon subnav">
                        <i class="fas fa-pen text-light" aria-hidden="true"></i>
                    </div>
                    <span>Uredi kolegij</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex" href="{% url 'activities_score:student-create' subject.id %}">
                    <div class="fas-icon subnav">
                        <i class="fas fa-plus text-light" aria-hidden="true"></i>
                    </div>
                    <span>Nova ispitna aktivnost</span>
                </a>
            </li>
        {% elif type == "detail" and type_name == "activities_class" %}
            <li class="nav-item">
                <a class="nav-link d-flex" href="{{ activity.get_update_url }}">
                    <div class="fas-icon subnav">
                        <i class="fas fa-pen text-primary" aria-hidden="true"></i>
                    </div>
                    <span>Uredi aktivnost</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex" href="#{% comment %}{% url 'activities_class:student-delete' activity.id %}{% endcomment %}">
                    <div class="fas-icon subnav">
                        <i class="fas fa-trash-alt text-danger" aria-hidden="true"></i>
                    </div>
                    <span>Izbriši aktivnost</span>
                </a>
            </li>
        {% elif type == "detail" and type_name == "activities_score" %}
            {% if not activity.completed %}
            <li class="nav-item">
                <a class="nav-link d-flex" href="{{ activity.get_submission_url }}">
                    <div class="fas-icon subnav">
                        <i class="fas fa-check" aria-hidden="true"></i>
                    </div>
                    <span>Predaj aktivnost</span>
                </a>
            </li>
            {% endif %}
            
            <li class="nav-item">
                <a class="nav-link d-flex" href="{{ activity.get_update_url }}">
                    <div class="fas-icon subnav">
                        <i class="fas fa-pen" aria-hidden="true"></i>
                    </div>
                    <span>Uredi aktivnost</span>
                </a>
            </li>
            {% if activity.global_activity %}
            <li class="nav-item">
                <a class="nav-link d-flex" href="#{% comment %}{% url 'activities_score:student-delete' activity.id %}{% endcomment %}">
                    <div class="fas-icon subnav">
                        <i class="fas fa-trash-alt" aria-hidden="true"></i>
                    </div>
                    <span>Izbriši aktivnost</span>
                </a>
            </li>
            {% endif %}
        {% elif type == "form" %}
        {% else %}
        Greška
        {% endif %}
        </ul>
    </div>
    <!-- End of Collapse content -->
</nav>

{% include 'messages.html' %}