<!DOCTYPE html>
<html lang="hr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timetabled | Login</title>

    <link rel="icon" href="{% static 'images/timetabled_icon.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "css/style.css" %}'>
</head>
<body style="background-color: #0066CC; height: 100vh">
    <div class="container">
        <div class="row p-5">
            <div class="col-md-5">
                <div class="register-image text-center">
                    <img src="{% static 'images/logo_timetabled_white.png' %}" alt="timetabled_logo.png" style="max-height: 220px; margin: 0 5%;">
                    <p class="lead text-light">Prijava</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card p-5">
                    <form method="post" action="">
                        {% csrf_token %}
                        {% include 'partials/form_snippet.html' %}
                        <div class="register-buttons">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-sign-in-alt"></i>
                                <span>Prijava</span>
                            </button>
                            <span class="pl-3">Nemate račun?</span>
                            <a href="{% url 'accounts:register' %}" class="btn btn-default">
                                Registracija
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://kit.fontawesome.com/4951590161.js" crossorigin="anonymous"></script>

</html>