<ul class="list-group">
{% for activity in activities %}
    <li class="list-group-item d-flex justify-content-between align-items-center clickable-row" onclick="location.href='{{ activity.get_absolute_url }}'">
        <div class="text">
            {% if activity.due_date.year == 1 %}
            <p class="mb-0">{{ activity.get_type_display }}<span class="text-warning">*</span></p>
            {% else %}
            <p class="mb-0">{{ activity.get_type_display }}</p>
            {% endif %}
            <small class="help-text">{{ activity.subject }}</small><br>
            <small class="help-text">{{ activity.due_date|date:"l" }}, <strong>{{ activity.due_date }}</strong></small>
        </div>
        {% if activity.points_total >= 10 and not activity.completed %}
            <span class="badge badge-danger badge-pill">{{ activity.points_total|floatformat }}</span>
        {% elif activity.points_total < 10 and activity.points_total >= 5 and not activity.completed %}
            <span class="badge badge-warning badge-pill">{{ activity.points_total|floatformat }}</span>
        {% elif activity.points_total < 5 and not activity.completed %}
            <span class="badge badge-primary badge-pill">{{ activity.points_total|floatformat }}</span>
        {% elif activity.completed %}
            <span class="badge badge-success badge-pill">{{activity.points_accomplished|floatformat }} / {{activity.points_total|floatformat }}</span>
        {% endif %}
    </li>
{% empty %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="text">
            {% if type == "past" %}
            <span>Nema prethodnih aktivnosti</span>
            {% else %}
            <span>Nema aktivnosti u sljedećih 7 dana</span>
            {% endif %}
        </div>
        <span class="badge badge-success badge-pill">
            <i class="fas fa-check"></i>
        </span> 
    </li>
{% endfor %}
</ul>