{% extends 'base.html' %}

{% load subjects_extras %}

{% block body %}

{% include 'partials/subnav.html' with title="Upisani kolegiji" type="list" type_name="subjects" %}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
            <table class="table w-100 mb-1">
                <thead>
                    <tr class="bg-dark">
                        <th class="text-light rounded-top" style="border-right:none">Naziv</th>
                        <th class="text-light" style="border-left:none">Ostvareni bodovi</th>
                    </tr>
                </thead>
                <tbody>
                {% for subject in subject_list %}
                    <tr class="bg-light">
                        <td class="clickable-row" onclick="location.href='{% url 'subjects:detail' subject.id %}'">{{ subject.name }}</td>
                        <td>{{ subject|points_accomplished:request.user.student|floatformat }} / {{ subject|points_total:request.user.student|floatformat }}</td>
                    </tr>
                {% empty %}
                    <p>Još nema upisanih kolegija</p>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-4">
            <div class="card h-100 p-2 m-auto">
                <small class="font-weight-bold w-100 text-center">
                        Bodovne aktivnosti
                </small>
                <div class="icon-text m-auto p-2">
                    <div class="fas-icon-lg text-center bg-danger">
                        <i class="fas fa-clipboard-list text-light fa-lg"></i>
                    </div>
                </div>
                <span class="font-weight-bold w-100 text-center">
                    {{ score_activities_completed }} / {{ score_activities_total }}
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100 p-2 m-auto">
                <small class="font-weight-bold w-100 text-center">
                        Nastavne aktivnosti
                </small>
                <div class="icon-text m-auto p-2">
                    <div class="fas-icon-lg text-center bg-success">
                        <i class="fas fa-list-ul text-light fa-lg"></i>
                    </div>
                </div>
                <span class="font-weight-bold w-100 text-center">
                    {{ class_activities_completed }} / {{ class_activities_total }}
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100 p-2 m-auto">
                <small class="font-weight-bold w-100 text-center">
                        Preostalo dana u semestru
                </small>
                <div class="icon-text m-auto p-2">
                    <div class="fas-icon-lg text-center bg-success">
                        <i class="fas fa-calendar-day text-light fa-lg"></i>
                    </div>
                </div>
                <span class="font-weight-bold w-100 text-center">
                    {{ semester_days_remaining }} / {{ semester_days_total }}
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body bordered-top">
                    <div class="card-title">
                        <h5 class="h5">Nadolazeće ispitne aktivnosti</h5>
                    </div>
                    {% include 'partials/activities/score_list_snippet.html' with activities=request.user.student.upcoming_score_activities %}
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a href="{% url 'activities_calendar:score-monthly' %}" class="btn btn-sm btn-primary w-100">
                            <i class="fas fa-calendar-alt text-light" aria-hidden="true"></i>
                            <span class="text-light">Prikaži kalendar</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body bordered-top">
                    <div class="card-title">
                        <h5 class="h5">Nadolazeće nastavne aktivnosti</h5>
                    </div>
                    {% include 'partials/activities/class_list_snippet.html' with activities=request.user.student.upcoming_class_activities %}
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a href="{% url 'activities_calendar:class-weekly' %}" class="btn btn-sm btn-primary w-100">
                            <i class="fas fa-calendar-alt text-light" aria-hidden="true"></i>
                            <span class="text-light">Prikaži kalendar</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="h5">Protekle bodovne aktivnosti</h5>
                    </div>
                    {% include 'partials/activities/score_list_snippet.html' with activities=request.user.student.past_score_activities %}
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a href="{% url 'activities_calendar:score-monthly' %}" class="btn btn-sm btn-primary w-100">
                            <i class="fas fa-calendar-alt text-light" aria-hidden="true"></i>
                            <span class="text-light">Prikaži kalendar</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

{% load static %}

<script type="module">
import { makeActive } from '{% static 'js/sidenavItemActive.js' %}';

window.onload = makeActive('subjectsSidenav', true, false);
</script>



{% endblock body %}