{% extends 'base.html' %}

{% block body %}
{% include 'partials/subnav.html' with title="Kolegij" type="detail" type_name="subjects" %}

<div class="row p-2">
    <div class="col-lg-12">
        <div class="card m-2">
            <div class="card-body">
                <div class="row mt-3 mb-3">
                    <div class="col-lg-12">
                        <h4 class="card-title font-weight-bold mb-3">{{ object.name }}</h4>
                    </div>
                    <div class="col m-3">
                        <div class="detail-item-group">
                            <h5 class="h5 mb-1">SKRAĆENI NAZIV</h5>
                            <p class="card-text">{{ object.code }}</p>
                        </div>
                        <div class="detail-item-group">
                            <h5 class="h5 mb-1">ECTS bodovi</h5>
                            <p class="card-text">{{ object.ects }}</p>
                        </div>
                        <div class="detail-item-group">
                            <h5 class="h5 mb-1">BOJA</h5>
                            <p class="card-text text-danger">Crvena</p>
                        </div>
                    </div>
                    <div class="col m-3">
                        <div class="detail-item-group">
                            <h5 class="h5 mb-1">PROFESOR</h5>
                            <p class="card-text">{{ object.professor }}</p>
                        </div>
                        <div class="detail-item-group">
                            <h5 class="h5 mb-1">ASISTENT</h5>
                            <p class="card-text">{{ object.assistant }}</p>
                        </div>
                        <div class="detail-item-group">
                            <h5 class="h5 mb-1">OSTVARENI BODOVI</h5>
                            <p class="card-text">{{ object.points_accomplished|floatformat }} / {{ object.points_total|floatformat }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/subnav.html' with title="Nadolazeće aktivnosti" type="form" type_name="" %}

<div class="row p-2">
    <div class="col-lg-6">
        <div class="card m-2">
            <div class="card head bg-dark p-2">
                <h5 class="text-light mb-0">Ispitne aktivnosti</h5>
            </div>
            <div class="card-body">
                {% include 'partials/activities/score_list_snippet.html' with activities=subject.upcoming_score_activities %}
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card m-2">
            <div class="card head bg-dark p-2">
                <h5 class="text-light mb-0">Predavanja / Vježbe</h5>
            </div>
            <div class="card-body">
                {% include 'partials/activities/class_list_snippet.html' with activities=subject.upcoming_class_activities %}
            </div>
        </div>
    </div>
</div>

{% include 'partials/subnav.html' with title="Sve aktivnosti" type="form" type_name="" %}

<div class="row p-2">
    <div class="col-lg-6">
        <div class="card m-2">
            <div class="card head bg-dark p-2">
                <h5 class="text-light mb-0">Ispitne aktivnosti</h5>
            </div>
            <div class="card-body">
                {% include 'partials/activities/score_list_snippet.html' with activities=subject.all_score_activities %}
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card m-2">
            <div class="card head bg-dark p-2">
                <h5 class="text-light mb-0">Predavanja / Vježbe</h5>
            </div>
            <div class="card-body">
                {% include 'partials/activities/class_list_snippet.html' with activities=subject.all_upcoming_class_activities %}
            </div>
        </div>
    </div>
</div>

{% endblock body %}