{% extends 'base.html' %}


{% block body %}
{% include 'partials/subnav.html' with title="Upiši izborne kolegije" type="form" %}
{% include 'messages.html' %}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <form method="post" action=""> {% csrf_token %}
                <div class="card">
                    {% include 'partials/subjects/enroll_form_snippet.html' %}
                </div>
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-arrow-right"></i>
                        <span>Upiši kolegije</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock body %}