{% extends 'base.html' %}

{% load subjects_extras %}

{% block body %}
{% include 'partials/subnav.html' with title="Kolegij" type="detail" type_name="subjects" %}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-3 mb-3">
                        <div class="col-lg-12">
                            <h4 class="card-title font-weight-bold mb-3">{{ object.name }}</h4>
                        </div>
                        <div class="col m-3">
                            <div class="detail-item-group">
                                <h5 class="h5 mb-1">SKRAĆENI NAZIV</h5>
                                <p class="card-text">{{ object.code }}</p>
                            </div>
                            <div class="detail-item-group">
                                <h5 class="h5 mb-1">ECTS bodovi</h5>
                                <p class="card-text">{{ object.ects }}</p>
                            </div>
                            <div class="detail-item-group">
                                <h5 class="h5 mb-1">BOJA</h5>
                                <p class="card-text text-danger">Crvena</p>
                            </div>
                        </div>
                        <div class="col m-3">
                            <div class="detail-item-group">
                                <h5 class="h5 mb-1">PROFESOR</h5>
                                <p class="card-text">{{ object.professor }}</p>
                            </div>
                            <div class="detail-item-group">
                                <h5 class="h5 mb-1">ASISTENT</h5>
                                <p class="card-text">{{ object.assistant }}</p>
                            </div>
                            <div class="detail-item-group">
                                <h5 class="h5 mb-1">OSTVARENI BODOVI</h5>
                                <p class="card-text">{{ object|points_accomplished:user.student|floatformat }} / {{ object|points_total:user.student|floatformat }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="h5">Protekle bodovne aktivnosti</h5>
                    </div>
                    {% include 'partials/activities/score_list_snippet.html' with activities=subject|past_score_activities:user.student %}
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="h5">Nadolazeće bodovne aktivnosti</h5>
                    </div>
                    {% include 'partials/activities/score_list_snippet.html' with activities=subject|upcoming_score_activities:user.student %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-sm-4">
            <div class="card h-100 p-2 m-auto">
                <small class="font-weight-bold w-100 text-center">
                        Bodovne aktivnosti
                </small>
                <div class="icon-text m-auto p-2">
                    <div class="fas-icon-lg text-center bg-danger">
                        <i class="fas fa-clipboard-list text-light fa-lg"></i>
                    </div>
                </div>
                <span class="font-weight-bold w-100 text-center">
                    {{ score_activities_completed }} / {{ score_activities_total }}
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100 p-2 m-auto">
                <small class="font-weight-bold w-100 text-center">
                        Nastavne aktivnosti
                </small>
                <div class="icon-text m-auto p-2">
                    <div class="fas-icon-lg text-center bg-success">
                        <i class="fas fa-list-ul text-light fa-lg"></i>
                    </div>
                </div>
                <span class="font-weight-bold w-100 text-center">
                    {{ class_activities_completed }} / {{ class_activities_total }}
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100 p-2 m-auto">
                <small class="font-weight-bold w-100 text-center">
                        Ostvareni postotak
                </small>
                <div class="icon-text m-auto p-2">
                    <div class="fas-icon-lg text-center bg-success">
                        <i class="fas fa-percentage text-light fa-lg"></i>
                    </div>
                </div>
                <span class="font-weight-bold w-100 text-center">
                    {{ points_percentage|floatformat }}%
                </span>
            </div>
        </div>
    </div>
</div>


{% include 'partials/subnav.html' with title="Nastavne aktivnosti" type="form" type_name="" %}

<div class="row mt-3">
    <div class="col-lg-6">
        <div class="card m-2">
            <div class="card-body">
                <div class="card-title">
                    <h5 class="h5">Sve nastavne aktivnosti</h5>
                </div>
                {% include 'partials/activities/class_list_snippet.html' with activities=subject|all_class_activities:user.student %}
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card m-2">
            <div class="card-body">
                <div class="card-title">
                    <h5 class="h5">Nadolazeće nastavne aktivnosti</h5>
                </div>
                {% include 'partials/activities/class_list_snippet.html' with activities=subject|upcoming_class_activities:user.student %}
            </div>
        </div>
    </div>
</div>


{% endblock body %}