/* Bootstrapped media */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -240px;
        box-shadow: none;
    }
    #sidebar.active {
        margin-left: 0px !important;
        box-shadow: 0 1px 2px rgba(0,0,0,0.16), 
            0 2px 4px rgba(0,0,0,0.16), 
            0 4px 8px rgba(0,0,0,0.16), 
            0 8px 16px rgba(0,0,0,0.16),
            0 16px 32px rgba(0,0,0,0.16), 
            0 32px 64px rgba(0,0,0,0.16);
    }

	#content.active {
		margin-left: 0px !important;
	}

	#content {
		margin-left: 240px !important;
    }
    

}

@media (max-width: 580px) {
    .nav-item.hover-dark:last-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .nav-item.hover-dark.second-child {
        border-radius: 0px;
    }

    .nav-item.hover-dark:first-child {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@media (min-width: 580px) {
    .nav-item.hover-dark:last-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .nav-item.hover-dark.second-child {
        border-radius: 0px;
    }

    .nav-item.hover-dark:first-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

/* eo Bootstrapped media */
/* wrapper */

.wrapper {
    display: flex;
    width: 100%;
}

/* eo wrapper */
/* navbar */

.main-navbar {
    flex-flow: row !important;
}


.navbar {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 0px 6px -2px rgba(0, 0, 0, 0.05);
}

.navbar.bg-dark {
    background-color: #193441 !important;
}

.navbar-expand-lg .navbar-nav:not(.subnav) {
    flex-direction: row !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}



.nav-item.hover-dark {
    box-shadow: 0 0 1px 0px;
    background-image: linear-gradient(#d1cece, #e6e6e6);
}

.nav-item.hover-dark small {
    color: #37393b !important;
}

.nav-item.hover-dark:hover {
    background-image: none;
	background-color: #343a40 !important;
}

.nav-item.hover-dark:hover small,
.nav-item.hover-dark:hover h3 {
    color: #d1cece !important;
}


/* eo navbar */
/* sidebar */

#sidebar {
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    font-weight: bold;
    transition: all 0.3s;

    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 
                0 2px 4px rgba(0,0,0,0.16), 
                0 4px 8px rgba(0,0,0,0.16), 
                0 8px 16px rgba(0,0,0,0.16),
                0 16px 32px rgba(0,0,0,0.16), 
                0 32px 64px rgba(0,0,0,0.16);
    background: linear-gradient(rgb(26, 41, 128) 0%, rgb(38, 208, 206) 100%);
}

#sidebar.active {
    margin-left: -240px;
    box-shadow: none;
}

.sidebar-header {
    cursor:pointer;
	color: #fff;
	margin-left: 0px;
	padding: 3%;
}


#sidebar .nav-item {
	border-left: 0px solid transparent;
}

#sidebar .nav-item.active {
	border-left: 0px solid #fff;
}


#sidebar .nav-item:hover {
    border-radius: 0px;
    background-color: rgb(26, 41, 128);
	/* background: linear-gradient(rgb(30, 104, 153) 0%, 100%); */
}


#sidebar .nav-link {
	color:  #e6e6e6 !important;
    transition: all 0.3s;
    position: relative;
    z-index : 1;
}

#sidebar .nav-link.dropdown-item:hover {
	background-color:  rgb(30, 104, 153);
    transition: all 0.3s; 
}

#sidebar .nav-link.dropdown-item:hover:before {
    content : "";
    position: absolute;
    left    : 10%;
    bottom  : 0;
    height  : 1px;
    width   : 100%;  /* or 100px */
    border-bottom: 2px solid #E6E6E6;
}


/* eo Sidebar */


a[data-toggle="collapse"] {
    position: relative;
}


/* content */
#content.active {
    margin-left: 240px;
    width: 100%;
}

#content {
	margin-left: 0;
	width: 100%; 
    transition: all 0.3s;
    background-color: #E6E6E6; min-height: 100vh; height: 100%;
}
/* eo content */

