* {
    font-family: 'Inter' sans-serif !important;
}

p {
    font-family: 'Inter' sans-serif !important;
}


.bg-dark {
    background-color: #193441 !important;
}

.fas-icon {
    width: 25px !important;
    text-align: center !important;
}

#messages {
    position: absolute;
    z-index: 9999;
    bottom: 1%;
    right: 1%;
}

.card {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.card.head {
    border-bottom-left-radius:0; 
    border-bottom-right-radius:0;
    padding: 2% 0 2% 2%;
}


.form-buttons {
    margin-top: 3%;
}

.clickable-row {
    cursor:pointer;
}

.clickable-row.hover-success {
    background-color: #029760;
    color: #e6e6e6;
}

.clickable-row:hover {
    background-color: rgb(26, 41, 128) ;
    color: #e6e6e6;
}


.clickable-row.hover-success:hover {
    background-color: #016540;
    color: #e6e6e6;
}

.text-m {
    font-size: 14px;
}


.detail-list-group.inline {
    flex-direction: row !important;
}

.detail-item-group {
    padding-bottom: 14%;
}

.detail-item-group h5 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

.detail-item-group.inline {
    padding-left: 0;
    padding-right: 4%;
}

.fas-icon-lg {
    border-radius: 50%;
    height: 37px;
    width: 37px;
    padding: 5px;
}

.activity-form {
    padding: 6%;
}


@media (max-width: 580px) {
    .register-image .login-logo{
        height: 300px !important;
    }

    .login-container .card {
        padding: 5%;
    }
}


@media (min-width: 580px) {
    .login-container {
        margin-top: 5%;
    }

    .login-container .card {
        margin-right: 30% !important;
        padding: 7%;
    }

}