* {
    font-family: 'Inter' sans-serif !important;
}

p {
    font-family: 'Inter' sans-serif !important;
}


.bg-dark {
    background-color: #193441 !important;
}

.fas-icon {
    width: 25px !important;
    text-align: center !important;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgb(25, 52, 65, 0.25);
}

/*
#messages {
    position: absolute;
    z-index: 9999;
    top: 120px;
    right: 1%;
}
*/

.card {
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;

    margin-bottom: .3rem;
}

.card.head {
    border-bottom-left-radius:0; 
    border-bottom-right-radius:0;
    padding: 2% 0 2% 2%;
}

.card-body.bordered-top {
    border-top: 6px solid #343a40; 
    
    border-top-left-radius:.25rem; 
    border-top-right-radius:.25rem;
}


.form-buttons {
    margin-top: 3%;
}

.clickable-row {
    cursor:pointer;
}

.clickable-row.hover-success {
    background-color: #029760;
    color: #e6e6e6;
}

.clickable-row:hover {
    background-color: rgb(26, 41, 128) ;
    color: #e6e6e6;
}


.clickable-row.hover-success:hover {
    background-color: #016540;
    color: #e6e6e6;
}

.clickable-row.hover-light:hover {
    background-color: rgb(38, 208, 206);
    color: #fff;
}

.text-m {
    font-size: 14px;
}


.detail-list-group.inline {
    flex-direction: row !important;
}

.detail-item-group {
    padding-bottom: 14%;
}

.detail-item-group h5 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

.detail-item-group.inline {
    padding-left: 0;
    padding-right: 4%;
}

.fas-icon-lg {
    border-radius: 50%;
    height: 37px;
    width: 37px;
    padding: 5px;
}

.activity-form {
    padding: 6%;
}

.dot {
    position: absolute; 
    top: 6px; 
    right: 4px;
    height: 10px;
    width: 10px;
    border-radius: 50%; 
    display: inline-flex;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(217, 84, 79, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(217, 84, 79, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(217, 84, 79, 0);
	}
}

.notification-toggle:before {
    display: none !important;
    padding: 0;
}

.dropdown-menu.show {
    position: absolute;
}


@media (max-width: 580px) {
    .register-image .login-logo{
        height: 300px !important;
    }

    .login-container .card {
        padding: 5%;
    }

    .notification.dropdown-menu.show {
        width: 250px !important;
    }

    .search-form input {
        width: 80% !important;
    }
}


@media (min-width: 580px) {
    .login-container {
        margin-top: 5%;
    }

    .login-container .card {
        margin-right: 30% !important;
        padding: 7%;
    }

    .search-form input {
        width: 100% !important;
    }

}