<div class="card h-100 bg-{{ color }}">
    <div class="card-body text-light">
        <div class="row">
            <div class="col w-80">
                <div class="card-title">
                    <h5 class="h5">{{ variable }}</h5>
                </div>
                <small class="card-subtitle">{{ title }}</small>
            </div>
            <div class="col w-20 m-auto text-right">
                <i class="fas fa-chart-bar fa-lg"></i>
            </div>
        </div>
    </div>
</div>
