{% extends 'base.html' %}

{% load subjects_extras %}

{% block body %}
{% include 'partials/subnav.html' with title="Bodovna aktivnost" type="detail" type_name="activities_score" activity=object %}

<div class="container-fluid mt-3">
    <div class="row mb-3">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h4 class="card-title mb-0">{{ object.subject }} - {{ object.get_type_display }}</h4>
                        {% if object.completed %}
                        <span class="badge">
                            <i class="fas fa-check-circle fa-2x text-success"></i>
                        </span>
                        {% else %}
                        <span class="badge">
                            <i class="fas fa-exclamation-circle fa-2x text-warning"></i>
                        </span>
                        {% endif %}
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">{{ object.due_date|date:"l" }}, {{ object.due_date }} od {{ object.start_time }}, {{ object.location }}</h6>
                    <p class="card-text">{{ object.details }}</p>
                    <a href="{{ object.subject.get_absolute_url }}" class="card-link">Informacije o kolegiju</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="h5">Ostvareni uspjeh</h5>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Bodovi
                            <span class="badge badge-primary badge-pill">
                                {{ object.points_accomplished|floatformat }} / {{ object.points_total|floatformat }}
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Postotak
                            <span class="badge badge-primary badge-pill">
                                {{ object.points_percentage|floatformat }}&nbsp;%
                            </span>
                        </li>
                        <!--
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Morbi leo risus
                            <span class="badge badge-primary badge-pill">1</span>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5 class="h5">{{ object.subject }} - Sve bodovne aktivnosti</h5>
                    </div>
                    {% include 'partials/activities/score_list_snippet.html' with activities=object.subject|all_score_activities:user.student type="all" %}
                    <div class="form-buttons text-center">
                        <a href="{% url 'activities_calendar:score-monthly' %}" class="btn btn-sm btn-primary w-100">
                            <i class="fas fa-calendar-alt text-light" aria-hidden="true"></i>
                            <span class="text-light">Prikaži sve</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}