{% extends 'base.html' %}


{% block body %}
{% include 'partials/subnav.html' with title="Uredi bodovnu aktivnost" type="form" %}
{% include 'messages.html' %}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-12">
            <form method="post" action=""> {% csrf_token %}
                <div class="card p-3">
                    {% include 'partials/form_snippet.html' %}
                </div>
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i>
                        <span>Spremi</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}