{% extends 'base.html' %}


{% block body %}
{% include 'partials/subnav.html' with title=title type="form" %}
{% include 'messages.html' %}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-12 mb-3">
            <form method="post" action=""> {% csrf_token %}
                <div class="card activity-form">
                    <div class="card-title">
                        <h5 class="h5 font-weight-bold mb-4">{{ subject }}</h5>
                    </div>
                    {% include 'partials/form_snippet.html' %}
                </div>
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i>
                        <span>Spremi</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% load static %}


<script type="module">
import { makeActive } from '{% static 'js/sidenavItemActive.js' %}';

window.onload = makeActive('subjectsSidenav', true, false, '{{ subject.id }}');
</script>


{% endblock body %}