{% extends 'base.html' %}

{% block body %}
{% include 'partials/subnav.html' with title="Bodovna aktivnost" type="detail" type_name="activities_score" activity=object %}

<div class="row p-2">
    <div class="col-lg-8">
        <div class="card m-2">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h4 class="card-title mb-0">{{ object.subject }} - {{ object.get_type_display }}</h4>
                    <span class="badge badge-primary badge-pill">{{ object.points_accomplished|floatformat }} / {{ object.points_total|floatformat }}</span>
                </div>
                <h6 class="card-subtitle mb-2 text-muted">{{ object.due_date|date:"l" }}, {{ object.due_date }} od {{ object.start_time }}</h6>
                <p class="card-text">{{ object.details }}</p>
                <a href="{{ object.subject.get_absolute_url }}" class="card-link">Informacije o kolegiju</a>
            </div>
        </div>
    </div>
    
    <div class="col-lg-4">
        <div class="card m-2">
            <div class="card-body">
                <div class="card-title">
                    <h5 class="h5">{{ object.subject }} - Dosadašnje aktivnosti</h5>
                </div>
                {% include 'partials/activities/score_list_snippet.html' with activities=object.subject.past_score_activities %}
                <div class="form-buttons text-center">
                    <a href="{% url 'activities_calendar:score-monthly' %}" class="btn btn-sm btn-primary w-100">
                        <i class="fas fa-calendar-alt text-light" aria-hidden="true"></i>
                        <span class="text-light">Prikaži sve</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}